<% include ./partials/header %> 
<div id="block_error">
    <div>
     <h2>Something went wrong</h2>
    <p>
    Whatever you just tried to do didn't work. 
    </p>
    <p>
    Please <a href="https://podio.com/webforms/15921151/1458268">submit a support ticket</a> and let us know what you were doing that brought you to this page. DMA will follow up as soon as possible.
    </p>
    </div>
</div>
<% include ./partials/footer %> 