<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1><span class="glyphicon glyphicon-stats"></span> ESC Knowledge Base</h1>
        <p>Welcome to the ESC knowledge base. Sign in and then select an application to get started. If you have an issue or do not see an app that you need, submit a support ticket</p>
    </div>

    <div class="row flex">
    <% if(currentUser){ %>
        <% if(currentUser.role != "default"){ %>
        <div class="col-lg-6 col-sm-12">
            <div class="img-thumbnail">
                <a href="./srt/srt_dashboard">
                    <img src="\img\srtd_snip.jpg" class="img-responsive">
                    <div class="carousel-caption">
                        <h1 class="title-overlay">SRT Dashboard</h1>
                    </div>
                </a>
            </div>
        </div>
        <% } %>        
        <% if(currentUser.role != "srt") { %>   
        <div class="col-lg-6 col-sm-12">
            <a href="./scatterplots/">
                <div class="img-thumbnail">
                    <img src="/img/scatterplots-snip.jpg" class="img-responsive">
                    <div class="carousel-caption">
                        <h1 class="title-overlay">Scatterplots</h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="img-thumbnail">
                <a href="./school_choice_tools/">
                    <img src="/img/sct_snip.jpg" class="img-responsive">
                    <div class="carousel-caption">
                        <h1 class="title-overlay">School Choice Tools</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="img-thumbnail">
                <a href="./t_minus_appcon/">
                    <img src="\img\tma_snip.jpg" class="img-responsive">
                    <div class="carousel-caption">
                        <h1 class="title-overlay">t-Minus Appcon</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
                <div class="img-thumbnail">
                    <a href="https://portal.wau.co/ss-portal">
                        <img src="\img\cp_snip.jpg" class="img-responsive">
                        <div class="carousel-caption">
                            <h1 class="title-overlay">Counselor Portal</h1>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    <% } } %>
    </div>
</div>	

<% include partials/footer %>