<% include ./partials/header %> 

<div class="container" id="signindiv">
        <form class="form-signin" action="/register" method="POST">
            <h2 class="form-signin-heading">Create a User</h2>
            <label for="inputEmail" class="sr-only">ESC Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="ESC Email address" name="username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Create User</button>
        </form>
    </div> 

<% include ./partials/footer %> 
